/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/03/2020, 02:09:41 AM
    Author     : dell
*/

body {
    background-color: #eee;
}

.small-container {
    max-width: 400px;
}

.hover-success:hover {
	color: var(--success) !important;
}

.hover-danger:hover {
	color: var(--danger) !important;
}

.hover-info:hover {
	color: var(--info) !important;
}

.hover-primary:hover {
	color: var(--primary) !important;
}